// Slider comments
.w3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mySlider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .w3-animate-fading {
        display: flex;
        align-self: center;
        width: 40vw;
    }

    span {
        font-weight: bold;
    }
}



// OWL CAROUSEL AUTOPLAY
.owl-item {
    width: 10vw;
    margin-right: 0px;
}

// Code to hide the dots
.owl-theme .owl-dots .owl-dot {
    display: none !important;
}

.owl-stage-outer {
    .owl-stage {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: translate3d(0px, 0px, 0px);
        transition: all 0.25s ease 0s;
        width: 100%;

        .item {
            display: flex;
            justify-content: center;
            flex-direction: space-around;
            width: 100%;
            height: auto;
        }
    }
}