@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
$fonts-logo: 'Montserrat', 'Poppins', sans-serif;
$blue: rgb(1, 1, 84);
$brown: rgb(55, 20, 1);
$light: rgb(255, 255, 255);
$black: rgb(3, 3, 5);
$gold-color: rgb(212, 175, 55);
$bg-color: rgb(255, 255, 254);
$black-bg: rgba(17, 17, 17, 0.7);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smoot;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
  }
}

body {
  background: $bg-color;
  overflow-x: hidden;
}

// Section
section {
  padding: 3rem 9%;
  font-size: 1.5rem;
  font-weight: 400;
}

p{
  color: $brown;
}

/////////////////// Header ////////////////

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 9%;

  .navbar li {
    font-size: 1.7rem;
    font-weight: 400;
    color: $gold-color;
    display: inline-block;
    margin: 0 1rem;
    a {
      color: $gold-color;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }

  .navbar {
    display: flex;
    padding-left: 20px;
  }

  .nav-items {
    padding: 0.2rem;
  }

  .logo {
    padding: 0.2rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: $gold-color;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

#menu-btn {
  font-size: 2.5rem;
  color: $gold-color;
  display: none;
  cursor: pointer;
}

.nav-item-booking {
  list-style: none;

  a {
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 30px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 2px solid $gold-color;
    cursor: pointer;
    color: $gold-color;

    &:hover {
      color: white;
      // background-color: rgb(35, 35, 135);
      border: 2px solid white;
    }
  }
}

//////////////// Section Home ///////////////

.home {
  margin: 0 auto;
  background: url(/images/p4.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(147, 146, 146, 0.1));
    border-radius: 5rem;
    padding: 3rem 8rem;

    .logo {
      padding: 0.2rem;
      font-size: 5rem;
      font-weight: 700;
      color: $gold-color;
      text-decoration: none;
    }
    .headerlogo {
      font-family: $fonts-logo;
    }

    span {
      font-weight: bold;
      color: transparent;
      -webkit-text-stroke: 0.1rem white;
      font-size: 3vw;
      display: block;
    }

    .s1 {
      font-family: 'Bilbo Swash Caps', 'Montserrat', 'Poppins', sans-serif;
      font-size: 7vw;
      color: white;
      // line-height: 2.5;
      line-break: 1rem;
    }

    #party{
      font-size: 1.5rem;
      font-weight: 600;
      opacity: 0.5;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      width: 33vw;
    }

    .p1 {
      max-width: 60rem;
      margin: 2rem auto;
      font-size: 2.2rem;
      font-weight: 700;
      color: whitesmoke;
      line-height: 1;
    }
  }
}
//// About home img ////
.home_about {
  background: url(/images/p3.webp) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.main_about {
  display: flex;

  .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lll {
    font-weight: bold;
    color: $gold-color;
    font-size: 3vw;
    display: block;
  }

  h1 {
    padding: 1.5rem 0 0;
    margin-bottom: 3rem;
    font-size: 5rem;
    font-weight: 700;
    color: $gold-color;
    text-decoration: none;
    border-bottom: 3px solid $gold-color;
  }

}
//// Luxury home img //////
.home_luxury {
  background: url(/images/p1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}
//// Gallery home img //////
.home_gallery {
  background: url(/images/p5.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

// GALLERY
.gallery .box-container {
  columns: 3 25rem;
  column-gap: 1.5rem;
  

  .box-gallery {
      margin-bottom: 1rem;
      break-inside: avoid;

      img {
          width: 100%;
          border-radius: 0.5rem;
          margin-bottom: 1rem;
      }
  }
}
//// Reference home img //////
.home_reference {
  background: url(/images/p7.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}
//// Contact home img //////
.home_contact {
  background: url(/images/p8.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

/////////////// Buttons /////////////////

.btn {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 2rem;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid $gold-color;
  cursor: pointer;
  color: $gold-color;

  &:hover {
    color: white;
    // background-color: rgb(35, 35, 135);
    border: 2px solid white;
  }
}

//////////////////////// Contact form /////////////////////
/* Style inputs with type="text", select elements and textareas */
input[type='text'],
select,
textarea {
  display: flex;
  color: $brown;
  font-weight: 900;
  opacity: 0.6;
  width: 33vw;
  padding: 1rem;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

//////////////////////// Footer /////////////////////

.footer {
  // background: rgba(0, 0, 0, 0.8);
  background: white;
  .box-container {
    @include grid(25rem);

    .box {
      padding: 1rem 1rem;

      .logo {
        font-size: 3rem;
        font-weight: 600;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $gold-color;
      }

      h3 {
        font-size: 2.2rem;
        color: $gold-color;
        padding: 1rem 0;
      }
      p {
        font-size: 1.5rem;
        font-weight: 600;
        color: $brown;
        padding: 1rem 0;
        line-height: 2;

        i {
          font-size: 2.5rem;
          padding-right: 1rem;
          color: $brown;
        }
      }
      .share {
        padding-top: 1rem;

        a {
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4rem;
          font-size: 3rem;
          color: $brown;
          margin-right: 0.5rem;

          &:hover {
            color: $gold-color;
          }
        }
      }
      .links {
        font-size: 1.5rem;
        font-weight: 600;
        color: $brown;
        padding: 1rem 0;
        display: block;

        &:hover {
          color: $gold-color;

          i {
            padding-right: 2rem;
          }

          i {
            padding-right: 1rem;
            color: $gold-color;
          }
        }
      }

      form .email {
        widows: 100%;
        border: 1px solid $brown;
        border-radius: 1rem;
        background: none;
        font-size: 2rem;
        color: $gold-color;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
      }
      .btn-subscribe {
        font-size: 2rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid $gold-color;
        cursor: pointer;
        color: $gold-color;

        &:hover {
          color: white;
          // background-color: rgb(35, 35, 135);
          border: 2px solid white;
        }
      }
    }
  }
}
.copyrights {
  background: $black-bg;
  opacity: 0.7;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 3rem 2rem;
  p{
    color:white;
  }
}
/////////////// Media queries ////////////////////

@media (max-width: 1199.98px) {
  html {
    font-size: 60%;
  }
  .header {
    padding: 1.5rem 2rem;
  }

  // Footer
  // .footer {
  //   html {
  //     font-size: 40%;
  //   }
  // }
}

@media (max-width: 991.98px) {
  html {
    font-size: 55%;
  }
  // Header
  .header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
      // background: $blue;
      padding: 1.2rem 0;
    }
  }
  section {
    padding: 3rem 2rem;
  }

  // Footer
}

// MEDIA
@media (max-width: 767.98px) {
  html {
    font-size: 53%;
  }
  // Header
  #menu-btn {
    display: inline-block;
  }
  .header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
      // background: $blue;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      li {
        margin: 2rem;
        font-size: 2rem;
        display: block;

        &:hover {
          background: rgba(0, 0, 0, 0.4);
          padding: 0 30px;
        }
      }
    }
  }
}


@media (max-width: 575.98px) {
  html {
    font-size: 51%;
  }
}

@media (max-width: 450.98px) {
  html {
    font-size: 40%;
  }
}



