//import urls
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700&display=swap');

// Import partials
@import "partials/media";
@import "partials/variables";
@import "partials/mixins";
@import "partials/header";
@import "partials/footer";
@import "partials/video";
@import "partials/carousel";
@import "partials/cards";
@import "partials/headings";
@import "partials/text-image";
@import "partials/small-stylings";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: $bg-color;
  overflow-x: hidden;
}